@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

h2 {
  @apply text-2xl font-bold mt-12 mb-4;
}

h3 {
  @apply mt-6 mb-3 text-lg font-bold;
}

.markdown h2 {
  border-bottom-width: 2px;
  padding-bottom: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  font-size: clamp(1.423828125rem,calc(1.423828125rem + ((1.7999999999999998 - 1.423828125) * ((100vw - 20rem) / (96 - 20)))),1.7999999999999998rem);
  line-height: 1.2;
}

.markdown h3 {
  margin-top: 2rem;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
  font-size: clamp(1.265625rem,calc(1.265625rem + ((1.5 - 1.265625) * ((100vw - 20rem) / (96 - 20)))),1.5rem);
  line-height: 1.6;
}

.markdown p {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  line-height: 1.75rem;
}

.markdown a{
  color: #1a73e8;
  text-decoration: underline;
}

.markdown a:hover {
  color: #0a5dc7;
  text-decoration: none;
}

.markdown ol {
  list-style-type: decimal;
  padding-left: 1.5em;
}

.markdown ul {
  list-style-type: disc;
  padding-left: 1.5em;
}

.markdown ul li, ol li {
  line-height: 1.75rem;
}

.markdown code {
  display: block;
  font-size: .8rem;
  margin: 1.5rem 0;
  padding: 1.5rem 0.5rem;
  background-color: #364549;
  color: #e3e3e3;
  white-space: pre-wrap;
}
